html {
  background-color: #f5f7f9;
}

body {
  background-image: url("img/background.jpg");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  color: black;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color:#A9A9A9;
}


.btn {
  font-weight: 300;
}

.btn-primary {
  background:   #A9A9A9;
  border-color:   #A9A9A9;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #A9A9A9;
}

.img{
      opacity:0.5;
    }

.img:hover{
  opacity:1.0;
}

.card {
  border-color: #A9A9A9;
  padding-left:10px;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.container4.navbar-text {
  text-align:right;
}

.list-group {
  padding-top:30px;
}


.description {
  background-image: url("/pattern.png");
  background-repeat: repeat-x;
    background-repeat: repeat-y;
}
 
p {
    border: 1px #A9A9A9;
    padding: 10px;
}

.navbar-brand{
  color:#A9A9A9;
  font-size: 20px;
  text-align: left;
  padding: 5px;
}

.btn-default .navbar-btn" {
  text-align: left;
  }


.list-group {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.reading{
  padding-top: 40px;
}

.map{
  padding-top: 20px;
}

.fa.fa-linkedin-square {
  font-size: 30px;
}

.fa.fa-twitter {
  font-size: 30px;
}

.fa.fa-facebook-square {
  font-size: 30px;
}

.fa.fa-spotify {
  font-size: 30px;
}

.glyphicon.glyphicon-Home {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.glyphicon.glyphicon-cog {
   font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.glyphicon.glyphicon-search{
   font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.glyphicon.glyphicon-flag{
   font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.glyphicon.glyphicon-option-vertical {
   font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.panel-heading{
  font-size:20px;
    border: 1px #A9A9A9;
    padding-right: 10px;
}


.col-md-8{
  padding-top: 30px;
}

.interests{
  padding-top: 30px;
}

.panel1{
 border: 1px #A9A9A9;
 padding-left:15px;#
 padding-right: 50px
 padding-top:30px;
 color: #e16879;
  font-weight: 300;
  padding-top:20px;
}

.panel-heading{
  font-color: #e16879
}


.btn.btn-default.navbar-btn {
  font-size: 20px;
  float:right;
  font-color: white;
}

.right{
  position: absolute;
  right: 0;
  top: 0;
}

.signing{
  padding-top:40px;
}